name: Flutter CI

on:
  pull_request:
    branches: [develop, uat, main]

jobs:
  analyze-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.2'
          cache: true

      - run: flutter pub get
      - run: flutter analyze
